.fb-message-list {
  position: relative;
  min-height: 0;
  flex: 1 1 0%;
}

.fb-message-list__scroller {
  height: 100%;
  overflow-y: auto;
  padding-inline: 1rem;
  max-width: 550px;
  margin: 0 auto;
}

.fb-message-list__jump {
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--theme-base-150);
  border-radius: 9999px;
  background-color: var(--theme-base-0);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px -1px rgb(0 0 0 / 10%);
}
